@{
    Layout = null;
}
@model TemplateTest.Models.RecentDataModel

<h4>Recent Posts</h4>
<ul class="templatemo_list">
    @foreach (var item in Model.Items)
    {
        <li>
            <p>@Html.ActionLink(item.Text, "Index", "Home", new { seoUrl = item.Text }, null)</p>
            <p class="date">@item.Date.ToString("D")</p>
        </li>
    }
</ul>